header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: var(--shadow);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    position:center;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 8px 0;
    position: relative;
}

#botao-acessibilidade, #aumentar-fonte, #diminuir-fonte {
    list-style: none;
    gap: 2rem;
    font-weight: 500;
    position: relative;
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('https://blog.ticketmaster.com.br/wp-content/uploads/2024/11/News_Stray_Kids_Ticketmaster_Dominate_Brasil_Tour-1024x576.jpg.webp');
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: white;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
    color: white;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
    
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.member-card {
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.member-image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.member-info h3 {
    padding: 20px;
    margin-bottom: 10px;
    color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 0;
}